.popup-text
{
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: normal;
}
.popup-title
{
    font-size: 13px;
}
.popup-title > span
{
    font-size: 12px;
}
.no-margin
{
    margin-top: 0;
    margin-bottom: 0;
}

.popup-span
{
    font-weight:normal;
}
.left-margin
{
    margin-left: 15px;
}